/* project row */
.project-row-item {

}
/* end project row */

/* conversation row */
.conversation-row-item > div > img {
    max-width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 16px;
    margin-top: 8px;
}

.conversation-row-item > div > .preview  {
    padding: 16px;
}

.conversation-row-item p  {
    margin: 0;
}

.conversation-row-item > div  {
    display: flex;
    flex-direction: row;
}

.conversation-row-item > div > div {
    display: flex;
    flex-direction: column;
}
/* end conversation row */
