.category-list {
    width: 100%;
}

/* category card */
.category-list > .category-card {
    height: 200px;
}

.category-list > .category-card > .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.category-list > .category-card > .wrapper > .title {
    position: absolute;
    z-index: 100;
    text-align: center;
    top: 100px;
    width: 100%;
    font-size: 2.5em;
    font-weight: 600;
}
/* category card end */


/* user card */
.category-list > .user-card {
    border: thin lightgrey solid;
    margin: 8px;
    margin-bottom: 16px;
    height: 400px;
    background-color: #86888f;
}

.category-list > .user-card > img {
    height: 300px;
}

.category-list > .user-card > .wrapper {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
}

.category-list > .user-card > .wrapper > .info  {
    padding-top: 16px;
}

.category-list > .user-card > .wrapper > .info > h1, h4 {
    margin: 0 !important;
    font-weight: bolder;
}

.category-list > .user-card > .wrapper > .info > h4 {
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}

.category-list > .user-card > .wrapper > .avatar {
    width: 25%;
}

.category-list > .user-card > .wrapper > .avatar > img {
    border-radius: 100%;
    height: 90px;
}
/* user card end*/
