.modal-override {
    --width: 80%;
    --height: 81%;
    --border-radius: 3%;
}

.filter-dialog > .header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
}


.locations {
    position: relative;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
}

.filter-dialog > .header > p,
button {
    font-size: 1.5em;
    font-weight: 600;
    background-color: unset;
}

.filter-dialog > .header > button {
    height: 36px;
}

.filter-dialog > .header > p {
    margin-top: 8px;
    margin-bottom: 4px;
}

.filter-dialog > .projects {
    height: 100px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: transparent;
}

.filter-dialog > .projects > .list > .item {
    height: 50px;
}

.filter-dialog > .projects > .list > .item > .list-button {
    padding-bottom: 8px;
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 1.2em;
}

.filter-dialog > .filter {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -5px 5px -5px #333;
    position: relative;
    z-index: 2000;
    padding: 8px;
}

.filter-dialog > .filter > .button {
    margin: 8px;
}

.filter-dialog > .filter > .search {
    margin: 8px;
    display: flex;
    font-weight: 600;
    font-size: 1.2em;
    justify-content: center;
}

.filter-dialog > .filter > .search > .button {
    margin: 8px;
    width: 70%;
    font-weight: 600;
}
