.searchbar {
    padding: 16px;
    width: 100%;
    display: flex;
    font-size: x-large;
    font-weight: 600;
    background-color: white;
}

.searchbar > .icon {
    font-size: 1.8em;
    color: black;
    margin-right: 16px;
}

.searchbar > .buttons {
    margin-right: 16px;
}

.searchbar > input {
    text-align: left;
    color: black;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.5em;
}
