.padding {
    padding: 12px;
}
.profile-card-content {
    display: flex;
}

.profile-card-content .avatar {
    padding: 8px;
    display: flex;
    justify-content: center;
    width: 30%;
}
.profile-card-content .avatar img {
    border-radius: 100%;
    width: 64px;
}
.profile-card-content .info {
    text-align: end;
    width: 70%;
}
.profile-card-content .info h1 {
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
}
.profile-card-content .info p {
    font-size: 12px;
    margin: 0;
    text-overflow: ellipsis;
}

.location-card-content p {
    margin: 0;
}

.location-card-content .card {
    padding: 8px;
}

.location-card-content .info {
    text-align: right;
}
