.project-page-category-gallery {
    display: flex;
    overflow-x: scroll;
}
.project-page-category-gallery .card {
    min-width: 43%;
    margin: 8px;
    position: relative;
    height: 100px;
}

.project-page-category-gallery ion-card-title {
    position: absolute;
    top: 4px;
    right: 4px;
}
.project-page-category-gallery ion-select {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
}
