.header > img {
    height: 350px;
    width: 100%;

}

.header > .toolbar {
    --background: transparent;
    --border-width: none;
    position: absolute;
    top: 0;
    color: white;
}

.header > .toolbar > .buttons {
    color: white;
}
